<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <input type="text" name="password" id="password" required placeholder="Mật khẩu"/>
        <input type="text" name="confirmPassword" id="confirmPassword" required
               placeholder="Xác nhận mật khẩu, có thể trống"/>
        <button type="button" onclick="g()">Đặt lại mật khẩu</button>
    </div>

    <script>
        let code = "<%= code %>";
        function g() {
            console.log("click");
            const password = document.getElementById("password").value;
            const confirmPassword = document.getElementById("confirmPassword").value;
           fetch("http://localhost:4001/users/confirmResetPassword", {
               method: "post",
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({
                   password, confirmPassword, code
               }),
           }).then(result => result.json()).then((json) => {
               console.log(json);
               if (json.success) {
                   alert("cập nhật mật khẩu thành công");
               } else {
                   alert("cập nhật thất bại");
               }
           }).catch(e => {
               console.log(e);
           })
        }
    </script>
</body>
</html>